*.json
*.jsons
*.txt
/bad-data
/bad
/good-data
*.csv
*.xlsx
*.zip
good-data-stocksdone/товары-2022-05-13-1448-418384.json.badmaybe
*.badmaybe
*.filepart
__pycache__/functions.cpython-39.pyc
*.bak2
*.bak3
count
errors
errors2
*.db